SOLO puzzles/Super Computer/JAVA/LocalTesting/.idea/
SOLO puzzles/Super Computer/JAVA/LocalTesting/out/
SOLO puzzles/Roller Coaster/JAVA/LocalTesting/.idea/
SOLO puzzles/Roller Coaster/JAVA/LocalTesting/out/
SOLO puzzles/Surface/JAVA/LocalTesting/.idea/
SOLO puzzles/Surface/JAVA/LocalTesting/out/
